body {
  height: 5000px;
  position: relative;
  background-color: #e2e8f0;
}

.top-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    filter: brightness(0.7);
  }
  
  .navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: all 0.7s;
  }

  .bg-color {
    background-color: #1d4fd8da;
    backdrop-filter: blur(10px);
    
  }
  
  .gradient {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #1D4ED8, transparent);
  }

  .hero {
    width: 100%;
    height: 100vh;
    padding-left: 80px;
    padding-top: 250px;
  }

  .title {
    font-size: 80px;
    line-height: 85px;
  }

  .subtitle {
    color: rgb(148 163 184);
    margin-top: 20px;
    font-size: 20px;
  }



  .head-title {
    color: rgb(241 245 249);
    font-size: 20px;
    margin-left: 80px;
  }



  .home {
    text-underline-offset: 5px;
    color: rgb(241 245 249);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    margin-right: 30px;
    transition: all 0.2s;
  }

  .event {
    text-underline-offset: 5px;
    color: rgba(241, 245, 249, 0.61);
    text-decoration-thickness: 0px;
    margin-right: 30px;
    transition: all 0.2s;
  }

  .rank {
    text-underline-offset: 5px;
    color: rgba(241, 245, 249, 0.61);
    text-decoration-thickness: 2px;
    margin-right: 30px;
    transition: all 0.2s;
  }

  .galery {
    text-underline-offset: 5px;
    color: rgba(241, 245, 249, 0.61);
    text-decoration-thickness: 2px;
    margin-right: 80px;
    transition: all 0.2s;
  }

  .event:hover {
    text-underline-offset: 6px;
    color: rgb(241, 245, 249);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
  }

  .rank:hover {
    text-underline-offset: 6px;
    color: rgb(241, 245, 249);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
  }

  .galery:hover {
    text-underline-offset: 6px;
    color: rgb(241, 245, 249);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
  }

  

  .head-1 {
    height: 60px;
  }

  .head-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }

  .head-page {
    
    display: flex;
    
  }

  .logo {
    width: 150px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 20px;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 8;
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}


  .on-player {
    width: fit-content;
    display: flex;
    align-content: center;
    background-color: #0f172a;
    
  }

  .on-player-1 {
    width: fit-content;
    background-color: #0f172a;
    align-content: center;
    border-radius: 10px;
  }


  .server-ip {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
  }

  .server-port {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
  }

  .server-players {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
  }

  .server-status {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
  }

  .server-version {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
  }


  .str {
    color: #e2e8f0;
    font-size: 20px;
    min-width: 202px;
  }

  .int {
    color: rgba(255, 255, 255, 0.712);
    text-align: center;
    font-size: 17px;
  }

  .int-bg {
    background-color: rgb(20, 122, 218);
    align-content: center;
    margin: 0px 0px 0px 5px;
    min-width: 80px;
    min-height: 35px;
    border-radius: 8px;

  }

  .ip-bg {
    background-color: rgb(20, 122, 218);
    align-content: center;
    min-width: 202px;
    min-height: 35px;
    border-radius: 8px;

  }

  .prt-bg {
    background-color: rgb(20, 122, 218);
    align-content: center;
    margin: 0px 0px 0px 5px;
    min-width: 80px;
    min-height: 35px;

    border-radius: 8px;

  }

  .right {
    margin: 0px 0px 0px 40px;
  }

  .info-title {
    font-size: 30px;
    color: #1e293b;
  }

  .info-sub {
    font-size: 20px;
    color: #64748b;

  }

  .status {
    width: 100%;
    height: 400px;
    display: flex;
    position: absolute;
    padding: 50px 80px 0px 80px;
    z-index: 1;
  }

  

  @media screen and (max-width: 700px) {

    .status {
      width: 100%;
      height: 400px;
      align-content: center;
      align-items: center;
      display: unset;
      padding: 50px 55px 0px 55px;
      z-index: 1;
    }

    .right {
      margin: 40px 0px 0px 0px;
    }
  
    .info-title {
      font-size: 30px;
      color: #1e293b;
    }
  
    .info-sub {
      font-size: 20px;
      color: #64748b;
      text-align: justify;
    }

    .navbar {
      position: fixed;
      z-index: 10;
      width: 100%;
      transition: all 0.7s;
    }

    .head-page {
      visibility: hidden;
    }

    .head-title {
      color: rgb(241 245 249);
      font-size: 20px;
      margin-left: 30px;
  
    }

    .logo {
      width: 150px;
      right: 0px;
      bottom: 0px;
      margin: auto;
      z-index: 8;
    }

    .hero {
      width: 100%;
      height: 100vh;
      padding-left: 42px;
      padding-right: 42px;
      padding-top: 280px;
    }

    .gradient {
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(to top, #1D4ED8, transparent);
    }

    .subtitle {
      color: rgba(255, 255, 255, 0.623);
      margin-top: 20px;
    }

    .title {
      font-size: 36px;
      line-height: 45px;
      margin-top: 40px;
    }
  }