/* Bug CSS */

body {
    height: fit-content;
    position: relative;
    background-color: #e2e8f0;
    transition: all 0.7s;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1d4fd8da; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e1; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }

  .nametag-input {
    
    width: 100%;
    border-width: 2px;
    border-color: #0f172a;
    background-color: #ffffff00;
    padding: 3px 0px 3px 10px;
    margin: 5px 0px 0px 0px;
    border-radius: 10px;
  }

  .bug-area {
    width: 100%;
    border-width: 2px;
    border-color: #0f172a;
    background-color: #ffffff00;
    padding: 3px 0px 3px 10px;
    margin: 5px 0px 0px 0px;
    border-radius: 10px;
  }

  .bug-text {
    margin-bottom: 10px;
  }

  .button-cancel {
    width: 90px;
    background-color: #475569;
    color: #e2e8f0;
    margin-top: 10px;
    padding: 4px 0px 4px 0px;
    border-radius: 10px;
  }

  .button-save {
    width: 90px;
    background-color: #1D4ED8;
    color: #e2e8f0;
    margin-top: 10px;
    padding: 4px 0px 4px 0px;
    border-radius: 10px;
  }

  .confirm {
    display: flex;
    justify-content: space-between;
  }

  .navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: all 0.7s;
    top: 0;
  }

  .bg-color {
    background-color: #1d4fd8da;
    backdrop-filter: blur(10px);
    
  }
  
  .gradient {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #1D4ED8, transparent);
  }

  .head-title {
    color: rgb(241 245 249);
    font-size: 20px;
    margin-left: 80px;
    transition: all 0.7s;

  }



  .event {
    text-underline-offset: 5px;
    color: rgba(241, 245, 249, 0.61);
    text-decoration-thickness: 0px;
    margin-right: 30px;
    transition: all 0.2s;
  }

  .home {
    text-underline-offset: 5px;
    color: rgba(241, 245, 249, 0.61);
    text-decoration-thickness: 0px;
    margin-right: 30px;
    transition: all 0.2s;
  }

  .rank {
    text-underline-offset: 5px;
    color: rgba(241, 245, 249, 0.61);
    text-decoration-thickness: 2px;
    margin-right: 30px;
    transition: all 0.2s;
  }

  .galery {
    text-underline-offset: 5px;
    color: rgba(241, 245, 249, 0.61);
    text-decoration-thickness: 2px;
    margin-right: 80px;
    transition: all 0.2s;
  }

  .home:hover {
    text-underline-offset: 6px;
    color: rgb(241, 245, 249);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
  }

  .event:hover {
    text-underline-offset: 6px;
    color: rgb(241, 245, 249);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
  }

  .rank:hover {
    text-underline-offset: 6px;
    color: rgb(241, 245, 249);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
  }

  .galery:hover {
    text-underline-offset: 6px;
    color: rgb(241, 245, 249);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
  }
  

  .head-1 {
    height: 60px;
  }

  .head-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }

  .head-page {
    visibility: unset;
    transition: all 0.2s;
    display: flex;
    
  }

  .bugs {
    padding: 10px 80px 10px 80px;
    width: 100%;
    height: fit-content;
    transition: all 0.2s;

  }

  .content {
    width: 100%;
    height: fit-content;
    border-width: 2px;
    border-color: #0f172a;
    border-radius: 20px;
    padding: 20px 20px 15px 20px;
  }

  .dropzone {
    align-content: center;
    min-height: 200px;
  }

  .buginfo {
    margin-right: 40px;
  }

  .nametag {
    margin-bottom: 10px;
  }

  .preview-bug {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    gap: 10px;
  }

  img {
    width: fit-content;
    height: max-content;
    object-fit: cover;
    height: 200px;
    border-radius: 10px;
  }

  .footer {
    width: 100%;
    height: 100px;
    background-color: #0f172a;
  }


/* Bug END */



/* Universal MEDIA */

@media screen and (max-width: 700px) {

    .bugs {
        padding: 10px 20px 10px 20px;
        width: 100%;
        height: fit-content;
    
      }


    .navbar {
      position: fixed;
      z-index: 10;
      width: 100%;
      transition: all 0.3s;
      top: 0;
    }

    .head-page {
      visibility: hidden;
      transition: all 0.2s;

    }

    .head-title {
      color: rgb(241 245 249);
      font-size: 20px;
      margin-left: 30px;
  
    }

}
/* Universal MEDIA END */
